<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CGIServlet</servlet-name>
        <servlet-class>weblogic.servlet.CGIServlet</servlet-class>
        <init-param>
            <param-name>cgiDir</param-name>
            <param-value>
                /cgi-bin
            </param-value>
        </init-param>
        <init-param>
            <param-name>executable</param-name>
            <param-value>python</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PupServlet</servlet-name>
        <servlet-class>Servlets.PupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriyomServlet</servlet-name>
        <servlet-class>Servlets.PriyomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriyomActionServlet</servlet-name>
        <servlet-class>Servlets.PriyomActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePriyomServlet</servlet-name>
        <servlet-class>Servlets.SavePriyomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpisokServlet</servlet-name>
        <servlet-class>Servlets.SpisokServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpisokPriyomServlet</servlet-name>
        <servlet-class>Servlets.SpisokPriyomServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>Charset Filter</filter-name>
        <filter-class>Other.CharsetFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>Servlets.ClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveClientServlet</servlet-name>
        <servlet-class>Servlets.SaveClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpisokPriyomActionServlet</servlet-name>
        <servlet-class>Servlets.SpisokPriyomActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriyomEditServlet</servlet-name>
        <servlet-class>Servlets.PriyomEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintServlet</servlet-name>
        <servlet-class>Servlets.PrintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>Servlets.DeleteClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePriyomServlet</servlet-name>
        <servlet-class>Servlets.DeletePriyomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientUslServlet</servlet-name>
        <servlet-class>Servlets.ClientUslServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientUslActionServlet</servlet-name>
        <servlet-class>Servlets.ClientUslActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtchetServlet</servlet-name>
        <servlet-class>Servlets.OtchetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToOtchetServlet</servlet-name>
        <servlet-class>Servlets.ToOtchetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SotrudServlet</servlet-name>
        <servlet-class>Servlets.SotrudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>Servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SotrudViewServlet</servlet-name>
        <servlet-class>Servlets.SotrudViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSotrudServlet</servlet-name>
        <servlet-class>Servlets.SaveSotrudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSotrudServlet</servlet-name>
        <servlet-class>Servlets.NewSotrudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersActionServlet</servlet-name>
        <servlet-class>Servlets.UsersActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewServlet</servlet-name>
        <servlet-class>Servlets.UserViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserServlet</servlet-name>
        <servlet-class>Servlets.SaveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>Servlets.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToDoubleServlet</servlet-name>
        <servlet-class>Servlets.ToDoubleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnionClientServlet</servlet-name>
        <servlet-class>Servlets.UnionClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PmpkServlet</servlet-name>
        <servlet-class>Servlets.PmpkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoringServlet</servlet-name>
        <servlet-class>Servlets.MonitoringServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitUploadServlet</servlet-name>
        <servlet-class>Servlets.MonitUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitViewServlet</servlet-name>
        <servlet-class>Servlets.MonitViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitViewActionServlet</servlet-name>
        <servlet-class>Servlets.MonitViewActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientActionServlet</servlet-name>
        <servlet-class>Servlets.ClientActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CopyPriyomServlet</servlet-name>
        <servlet-class>Servlets.CopyPriyomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IpraServlet</servlet-name>
        <servlet-class>Servlets.IpraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KalendarServlet</servlet-name>
        <servlet-class>Servlets.KalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IpraSpisokServlet</servlet-name>
        <servlet-class>Servlets.IpraSpisokServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveIpraServlet</servlet-name>
        <servlet-class>Servlets.SaveIpraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IpraUploadServlet</servlet-name>
        <servlet-class>Servlets.IpraUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>Servlets.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayActionServlet</servlet-name>
        <servlet-class>Servlets.PayActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePayListServlet</servlet-name>
        <servlet-class>Servlets.SavePayListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePayDogServlet</servlet-name>
        <servlet-class>Servlets.SavePayDogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePayPosServlet</servlet-name>
        <servlet-class>Servlets.SavePayPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveInclOnePayServlet</servlet-name>
        <servlet-class>Servlets.SaveInclOnePayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpPayServlet</servlet-name>
        <servlet-class>Servlets.ExpPayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePaymentServlet</servlet-name>
        <servlet-class>Servlets.SavePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveStatusServlet</servlet-name>
        <servlet-class>Servlets.MoveStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SprMseServlet</servlet-name>
        <servlet-class>Servlets.SprMseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SprOmsuServlet</servlet-name>
        <servlet-class>Servlets.SprOmsuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrStatusServlet</servlet-name>
        <servlet-class>Servlets.CorrStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ipra2018SpisokServlet</servlet-name>
        <servlet-class>Servlets.Ipra2018SpisokServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveIpraServlet</servlet-name>
        <servlet-class>Servlets.MoveIpraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IpraIshnomServlet</servlet-name>
        <servlet-class>Servlets.IpraIshnomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrIpraServlet</servlet-name>
        <servlet-class>Servlets.CorrIpraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IshCorrespServlet</servlet-name>
        <servlet-class>Servlets.IshCorrespServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetChildrenPolServlet</servlet-name>
        <servlet-class>Servlets.SetChildrenPolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ipra2018NewServlet</servlet-name>
        <servlet-class>Servlets.Ipra2018NewServlet</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>CGIServlet</servlet-name>
        <url-pattern>/cgi-bin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/gotomain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PupServlet</servlet-name>
        <url-pattern>/pup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriyomServlet</servlet-name>
        <url-pattern>/priyom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriyomActionServlet</servlet-name>
        <url-pattern>/priyomaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePriyomServlet</servlet-name>
        <url-pattern>/savepriyom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpisokServlet</servlet-name>
        <url-pattern>/spisok</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpisokPriyomServlet</servlet-name>
        <url-pattern>/spisokpriyom</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>Charset Filter</filter-name>
        <url-pattern>/savepriyom</url-pattern>
        <url-pattern>/saveclient</url-pattern>
        <url-pattern>/savesotrud</url-pattern>
        <url-pattern>/saveipra</url-pattern>
        <url-pattern>/savepaylist</url-pattern>
        <url-pattern>/saveinclone</url-pattern>
        <url-pattern>/savepayment</url-pattern>
        <url-pattern>/savepaydog</url-pattern>
        <url-pattern>/savepaypos</url-pattern>
        <url-pattern>/savesuser</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveClientServlet</servlet-name>
        <url-pattern>/saveclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpisokPriyomActionServlet</servlet-name>
        <url-pattern>/spisokpriyomaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriyomEditServlet</servlet-name>
        <url-pattern>/priyomedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintServlet</servlet-name>
        <url-pattern>/print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/deleteclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePriyomServlet</servlet-name>
        <url-pattern>/deletepriyom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientUslServlet</servlet-name>
        <url-pattern>/clientusl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientUslActionServlet</servlet-name>
        <url-pattern>/clientuslaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtchetServlet</servlet-name>
        <url-pattern>/otchet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToOtchetServlet</servlet-name>
        <url-pattern>/tootchet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SotrudServlet</servlet-name>
        <url-pattern>/sotrud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SotrudViewServlet</servlet-name>
        <url-pattern>/sotrudview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSotrudServlet</servlet-name>
        <url-pattern>/savesotrud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSotrudServlet</servlet-name>
        <url-pattern>/newsotrud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersActionServlet</servlet-name>
        <url-pattern>/usersaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewServlet</servlet-name>
        <url-pattern>/userview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserServlet</servlet-name>
        <url-pattern>/saveuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/newuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToDoubleServlet</servlet-name>
        <url-pattern>/todouble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnionClientServlet</servlet-name>
        <url-pattern>/unionclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PmpkServlet</servlet-name>
        <url-pattern>/pmpk</url-pattern>
        <url-pattern>/pmpksearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoringServlet</servlet-name>
        <url-pattern>/monitoring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitUploadServlet</servlet-name>
        <url-pattern>/monitupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitViewServlet</servlet-name>
        <url-pattern>/monitview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitViewActionServlet</servlet-name>
        <url-pattern>/monitviewaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientActionServlet</servlet-name>
        <url-pattern>/clientaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopyPriyomServlet</servlet-name>
        <url-pattern>/copypriyom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IpraServlet</servlet-name>
        <url-pattern>/ipra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KalendarServlet</servlet-name>
        <url-pattern>/kalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IpraSpisokServlet</servlet-name>
        <url-pattern>/ipraspisok</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveIpraServlet</servlet-name>
        <url-pattern>/saveipra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IpraUploadServlet</servlet-name>
        <url-pattern>/ipraupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayActionServlet</servlet-name>
        <url-pattern>/payaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePayListServlet</servlet-name>
        <url-pattern>/savepaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePayDogServlet</servlet-name>
        <url-pattern>/savepaydog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePayPosServlet</servlet-name>
        <url-pattern>/savepaypos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveInclOnePayServlet</servlet-name>
        <url-pattern>/saveinclone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpPayServlet</servlet-name>
        <url-pattern>/exppay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePaymentServlet</servlet-name>
        <url-pattern>/savepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveStatusServlet</servlet-name>
        <url-pattern>/movestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SprMseServlet</servlet-name>
        <url-pattern>/sprmse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SprOmsuServlet</servlet-name>
        <url-pattern>/spromsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrStatusServlet</servlet-name>
        <url-pattern>/corrstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ipra2018SpisokServlet</servlet-name>
        <url-pattern>/ipra2018spisok</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveIpraServlet</servlet-name>
        <url-pattern>/moveipra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IpraIshnomServlet</servlet-name>
        <url-pattern>/ipraishnom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrIpraServlet</servlet-name>
        <url-pattern>/corripra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IshCorrespServlet</servlet-name>
        <url-pattern>/ishcorresp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetChildrenPolServlet</servlet-name>
        <url-pattern>/setchildrenpol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ipra2018NewServlet</servlet-name>
        <url-pattern>/ipra2018new</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
